@import "tailwindcss";

@theme{
  --font-heading: "Poppins" sans-serif;
  --font-para:"__Poppins_f2c6a8";
  --color-primary:#0052CC;
  --color-sec:#1f1a48;
  --color-para:#654A55;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
}
